.contactlogo {
    height: auto;
    width: 3em;
}
.ContactLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    margin-bottom: 1vh;
}
.darkblue {
    color: var(--darkblue);
    text-decoration: underline;
}