* {
    --blue: #3d5a80ff;
    --lightblue: #98c1d9ff;
    --white: #e0fbfcff;
    --red: #ee6c4dff;
    --darkblue: #293241ff;
}
.stylish-regular {
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
}

/* Header/Footer Section (defines styling for header, footer and everthing inside) */
header, footer {
    background-color: var(--darkblue);
    padding: 0%;
}
header {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    height: 10vh;
    position: sticky;

}
footer {
    display: flex;
    width: 100dvw;
    height: 5vh;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}

.logo {
    color: rgb(0, 0, 0);
    margin: 0;
    margin-left: 2vw;
    font-size: 6vh;
    color: var(--lightblue);
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s;
    text-shadow: 0 0 5px var(--white)
}

nav {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-right: 5vw;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}
a {
    margin-inline: 0.5em;
    font-size: 1em;
    color: var(--lightblue);
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s;
    height: 2em;
    text-shadow: 0 0 10px var(--white)
}
a:hover {
    color: var(--red);
    transform: translateY(-5px);
    text-shadow: 0 0 10px var(--red)
}
.logo:hover {
    color: var(--red);
    transform: translateY(-5px);
    text-shadow: 0 0 5px var(--red)
}
.logolink {
    height: auto;
}

/* Main Content Styliing */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100dvh;
    position: relative;
    justify-content: flex-start;
    font-size: 1em;
    overflow-x: hidden;
    background-color: var(--white);
}
img {
    height: fit-content;
    width: 90vw;
    border-radius: 10%;
    box-shadow: 0 0 15px var(--darkblue);

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 77vh;
    position: relative;
}
/* Title Styling */
.homepagetitle {
    text-align: left;
    width: 90vw;
    margin: 0;
    margin-bottom: 1vh;
    font-size: 3em;
    color: var(--blue);
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 15px var(--darkblue);
}
/* Article Styling */
.homepageparagraph {
    text-align: left;
    margin: 0;
    margin-left: 1em;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
}
/* Button Styling */
button {
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--white);
    background-color: var(--lightblue);
    border: none;
    border-radius: 15px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(5px 5px var(--blue));
}
  
button:hover {
    background-color: var(--red);
}
/* Styling for specifically the title and image section */
.hometitleandimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
/* spacer so footer doesnt cover content on page */
.spacer {
    height: 0;
    visibility: hidden; 
}
/* responsive design to make the page layout change on wider screens */
@media screen and (max-height: 400px) {
    .spacer{
        height: 20vh;
        margin-top: 10vh;
    }
}
@media screen and (min-width: 800px) {
    .hometitleandimg{
        flex-direction: row;
        width: 100vw;
        justify-content: space-around;
        align-content: space-between;
    }
    img {
        width: 30vw;
    }
    .homepagetitle{
        width: 30vw;
        font-size: 7em;
    }
}

