.contactlogo {
    height: auto;
    width: 3em;
    transition: all 0.5s;
}
.contactlogo:hover {
    box-shadow: 0px 0px 15px var(--red);
}

.ContactLink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    margin-bottom: 4vh;
}
.darkblue {
    color: var(--darkblue);
    text-decoration: underline;
}
